<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="API for generating random but consistent icons">
        <link rel="icon" href="/static/ico/LightGreenEye.ico">
        <link rel="image/x-icon" href="static/ico/LightGreenEye.ico">
        <!-- Start stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/freelancer.css" >
        <link rel="stylesheet" href="/static/styles/style.css" >
        <title>Entropy Icons</title>

    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger active" href="/">Entropy Icons</a>
    </div>
</nav>
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <span class="name">404 - Not Found</span>
                <span class="skills">Unable to find
                    {% if imageset %} <code>/api/{{ imageset }}/{{ entropy }}</code> it looks like that itemset doesn't exist...
                    {%  elif uri %} <code>{{ uri }}</code> it looks like that URL doesn't exist...
                    {% else %} the URL you were looking for.{% endif %} <br />Go <a href="/">back</a>?</span>
            </div>
        </div>
    </header>
</body>
</html>